/* Overall */
body {
    background-color: #F3F4F6;
    display: flex;
    justify-content: center;
}

h1,
h2,
h3 {
    font-family: 'Montserrat', sans-serif;
}

p, label {
    font-family: 'Roboto', sans-serif;
    color: #333333;
}

/*Welcome Section*/
.user-profile-container {
    background: linear-gradient(45deg, #003366, #29ABE2);
    border-radius: 0px 50px;
    margin: 50px;
    padding-right: 20px;
    width: 60%;
}

.welcome-section {
    margin-bottom: 10px;
    display: flex;
    gap: 30px;
    align-items: center;
}

#user-image {
    width: 100px;
    height: 100px;
    border-radius: 50%;
}

#user-profile {
    padding: 40px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    background-color: #F3F4F6;
    border-radius: 0px 50px;
}

/*Changeable Personal Info*/
.form-div {
    display: grid;
    grid-template-columns: repeat(2, 1fr); /* Two columns */
    gap: 80px; /* Reasonable gap between columns */
}

#profile-form label,
#profile-form input,
#update-button {
    display: block;
    width: 100%;
}

#profile-form h3 {
    margin-top: 0;
}

#profile-form input {
    border: 2px solid #003366;
    border-radius: 4px;
}

input {
    padding: 5px;
    margin: 0;
}

input:focus {
    background-color: #F3F4F6;
}

.button-container {
    display: flex;
    justify-content: center;
}

#update-button {
    color: #FFFFFF;
    background-color: #29ABE2;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
    transition: background-color 0.3s, transform 0.3s;
}

#update-button:hover {
    background-color: #4CAF50;
    transform: scale(1.05);
}

#update-button:focus {
    outline: none;
}

/*Sessions*/
#sessions-previous {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    justify-content: center;
}

#session-card {
    border: 1px solid #ddd;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    padding: 15px;
    max-width: 300px;
    background-color: #fff;
}

#sessions-previous h2 {
    color: #003366; /* Deep Blue */
    margin-bottom: 10px;
}

#sessions-previous h3 {
    color: #666;
    font-size: 0.9em;
    margin-bottom: 15px;
}

/*Packages*/
.mentorship-package-card, 
.events-attended-card,
.saved-jobs-card {
    border: 1px solid #ddd;
    border-radius: 8px;
    padding: 15px;
    margin-bottom: 15px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    background-color: #fff;
}

.event-id {
    font-size: 1.2em;
    color: #003366; /* Deep blue */
    margin-bottom: 8px;
}

.event-title {
    font-size: 1em;
    color: #666;
    margin-bottom: 10px;
}